---
interface Props {
    data: any;
}

const { data } = Astro.props;
import Player from "../components/Player.astro";

const audioItems: { title: string; url: string }[] = [];
const getAudioData = data.map((e: any, i: any) => {
    const audioUrl = data[i]["guid"]["rendered"];
    const audioTitle = data[i]["title"]["rendered"];

    audioItems.push({ title: audioTitle, url: audioUrl });
});
// console.log(audioItems);
---

<div class="">
    <div class="">
        <div class="">
            <h1
                class="text-center items-center text-4xl font-roboto tracking-tight text-gray-900 sm:text-6xl my-16"
            >
                 MUSEO BIOACUSTICO
            </h1>
            {
                audioItems.map((item) => {
                    return <Player data={item} />;
                })
            }
        </div>
    </div>
</div>
